# -*- mode: sh; -*-
export DIRENV_WARN_TIMEOUT=20s
export CLOUDSDK_CORE_PROJECT=once-504515
export CLOUDSDK_COMPUTE_REGION=europe-west4
export CLOUDSDK_COMPUTE_ZONE=europe-west4-b

eval "$(devenv direnvrc)"
use devenv 2>/dev/null
source_env_if_exists .envrc.private
